.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: var(--color-surface-surface-background);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.navegacao {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}

.username {
  color: var(--color-text-text-primary);
  font-family: Kalam;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.navegacao #styleLinkHome {
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.navegacao a {
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.secaoSobreMim {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 8.5rem;
  justify-content: space-around;
}

.sobre {
  display: flex;
  flex-direction: column;
  width: 37rem;
}

#tituloPrincipal {
  font-family: Kalam;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  background: var(--brand-gradient-horizontal);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.botoesSecaoSobreMim {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stack img {
  width: 32rem;
  height: 100%;
  border-radius: 0.5rem;
}

.cardMaisSobreMim {
  display: flex;
  padding: 4.5rem;
  max-width: 95%;
  margin: 0 auto;
  align-items: center;
  gap: 5rem;
  flex: 1 0 0;
  border-radius: 1rem;
  background: var(--color-surface-surface-primary);
  margin-bottom: 2rem;
}

#fotoPessoal img {
  width: 20rem;
  border-radius: 0.5rem;
}

.stacksIcons img {
  padding-right: 0.4rem;
  border-radius: 0.2rem;
  padding-bottom: 2rem;
}

.secaoProjetos {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 4.5rem 7rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.imagemProjeto {
  height: 10rem;
  align-self: stretch;
}

.fotoPessoal img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.iconesRedesSociais {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.camposMenores {
  display: flex;
  width: 30.5rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-surface-surface-background);
  border: none;
}

.campoMaior {
  display: flex;
  width: 30.5rem;
  height: 10rem;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--color-surface-surface-background);
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  resize: none;
  border: none;
}
