.secaoSobreMim {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 8.5rem;
  justify-content: space-around;
}

.sobre {
  display: flex;
  flex-direction: column;
  width: 37rem;
}

#tituloPrincipal {
  font-family: Kalam;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  background: var(--brand-gradient-horizontal);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.botoesSecaoSobreMim {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stack img {
  width: 32rem;
  height: 100%;
  border-radius: 0.5rem;
}

.cardMaisSobreMim {
  display: flex;
  padding: 4.5rem;
  max-width: 95%;
  margin: 0 auto;
  align-items: center;
  gap: 5rem;
  flex: 1 0 0;
  border-radius: 1rem;
  background: var(--color-surface-surface-primary);
  margin-bottom: 2rem;
}

#fotoPessoal img {
  width: 20rem;
  border-radius: 0.5rem;
}

.stacksIcons img {
  padding-right: .4rem;
  border-radius: 0.2rem;
  padding-bottom: 2rem;
}