.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: var(--color-surface-surface-background);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.navegacao i {
  visibility: hidden;
}

.navegacao {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}

.username {
  color: var(--color-text-text-primary);
  font-family: Kalam;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.navegacao #styleLinkHome {
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.navegacao a {
  color: var(--color-text-text-secondary);
  font-family: Heebo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 425px) {
  .navegacao li {
    display: none;
  }

  .navegacao i {
    visibility: visible;
    color: var(--color-text-text-primary);
    font-size: 2rem;
    cursor: pointer;
  }

  .drawer div {
    background: var(--color-surface-surface-background);;
  }

  .closeIcon {
    color: #ff0000;
  }

  .drawerTitle {
    color: #ff0000; 
  }

  .drawerTitle::after {
    background-color: #ff0000;
  }
}
